<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console">
      <PatternLayout disableAnsi="false">
        <pattern>%highlight{[%d{yy-MMM-dd HH:mm:ss}] [%p] - %m%n%throwable}{INFO=white}</pattern>
      </PatternLayout>
    </Console>
    <RollingRandomAccessFile name="File" fileName="logs/latest.log"
                             filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz"
                             immediateFlush="false">
      <PatternLayout>
        <pattern>[%d{yy-MMM-dd HH:mm:ss}] [%p] - %m%n%throwable</pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <OnStartupTriggeringPolicy/>
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
